@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6; /* Cor de fundo suave */
    color: #333; /* Cor do texto */
}

/* Estilo da seção principal */
#interface {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda a altura da tela */
}
